[Unit]
Description=kmsg to tty12
DefaultDependencies=false
Before=udev.service basic.target

[Service]
Type=oneshot
ExecStart=/bin/dmesg -D

[Install]
WantedBy=basic.target
